<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>b2binpay</name>
    <displayName><![CDATA[B2BinPay Crypto Payment Gateway]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Accept Bitcoin, Bitcoin Cash, Litecoin, Ethereum, and other CryptoCurrencies via B2BinPay.]]></description>
    <author><![CDATA[B2BinPay]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>